.products-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    margin-bottom: 60px;
}

.products-index li {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 20px;
    font-family: 'Poppins';
    font-size: 12px;
    padding: 5px;
    justify-content: space-between;
}

.content-above-button {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
}

.product-price {
    color: #bc2848;
    font-weight: bold;
    font-size: 18px; 
}

.product-image {
    width: 200px;
    height: 250px;
    object-fit: cover;
}



.brand-name {
    font-weight: bold;
    margin-right: 5px;
}

#link-to-show-from-product {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

#link-to-show-from-product:hover {
    color: navy;
    text-decoration: underline;
    cursor: pointer;
}

.rating-container {
    display: flex;
    align-items: center;
}

.rating-container>* {
    margin-right: 0.5rem;
}

.rating-input {
    display: flex;
    flex-direction: row;
}

.add-to-cart-button {
    background-color: #ef6c00;
    color: #fff;
    border: 1.6px solid #ef6c00;
    font-weight: 600;
    cursor: pointer;
    height: 45px;
    width: 85%;
    border-radius: 15px;
    font-size: 15px;
    margin-top: -8px;
    margin-bottom: 10px;
}

.add-to-cart-button:hover {
    background-color: #ffa500;
    border-color: #ffa500;
}


