.products-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
}

.products-index li {
    width: 200px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 20px;
    font-family: 'Poppins';
    font-size: 12px;
    padding: 5px;
}

.product-price {
    color: #bc2848;
    font-weight: bold;
    font-size: 18px; 
}

.product-image {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.product-image.blue-buffalo {
    height: 250px;
}


.brand-name {
    font-weight: bold;
    margin-right: 5px;
}

#link-to-show-from-product {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

#link-to-show-from-product:hover {
    color: navy;
    text-decoration: underline;
    cursor: pointer;
}


