.search-page h1 {
    font-family: 'Poppins';
    font-size: 20px;
    padding-left: 25px;
}

.brand-name {
    font-weight: bold;
}

.price-value {
    color: #bc2848;
    font-weight: bold;
    font-size: 18px;
}

#product-search-img {
    max-height: 400px;
    max-width: 200px;
    padding: 20px;
    object-fit: contain;
}

.rating-show {
    display: flex;
    align-items: center;
    gap: 8px;
}



