.no-products-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: rgba(231, 223, 158, 255); */
}

.not-found-image {
    max-width: 100%;
    height: auto;
}