@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");


.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}


.signup-form {
    background: #ffffff;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    width: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 45px;
}



.signup-form h1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 0px;
    width: 80%;
    text-align: left;
    margin-left: 5px;
    position: relative;
    top: 45px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.signup-form h3 {
    color: #4caf50;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 45px;


    font-size: 22px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.signup-info input {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: auto;
    width: 85%;
    margin: 10px;
    color: black;
    padding: 10px;
    box-shadow: none;
    border: 1px solid #b9b6b6;
    border-radius: 15px;
    transition: all .15s ease-out;
}

.signup-info input:hover {
    border-color: orange;
    cursor: default;
}

.signup-button {
    background-color: #ef6c00;
    color: #fff;
    border: 1.6px solid #ef6c00;
    font-weight: 600;
    cursor: pointer;
    height: 45px;
    width: 85%;
    border-radius: 15px;
    font-size: 17px;
    margin-top: -8px;
    margin-bottom: 10px;
}

.signup-button:hover {
    background-color: rgb(155, 89, 9);
    border-color: rgb(155, 89, 9);
}

.sign-in-link-from-signup {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #555;
}

.sign-in-link-from-signup a {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: #fff;
    color: #163977;
    border: 1px solid #163977;
    padding: 10px;
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border-radius: 15px;
}

.sign-in-link-from-signup a:hover {
    background-color: rgb(222, 231, 242);
}

.password-tips {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #555;
    padding: 10px;
    margin: auto;
}


.signup-errors {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: block;
    color: #d0011b;
    padding: 5px 20px;
}



.signup-info input.errors {
    border-color: red;
}

.signup-info input.error {
    border-color: red;
}

.signup-page-text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: none;
    padding: 175px 0 0 50px;
    width: 300px;
}

.signup-page-text li {
    margin-left: 25px;
    margin-top: 10px;
}

.divider-uno,
.divider-dos {
    flex-grow: 1;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
}