.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f1f2;
}

.login-form {
    background: #ffffff;
    /* border: 1px solid #eee; */
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



.login-form-subtitle {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 0px;
    width: 80%;
    text-align: left;
    margin-left: 104px;
    position: relative;
    top: 45px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}






.login-form-title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 300;
    color: #333;
}

.login-info input {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: auto;
    width: 80%;
    margin: 10px;
    color: black;
    padding: 10px;
    box-shadow: none;
    border: 1px solid #b9b6b6;
    border-radius: 15px;
    transition: all .15s ease-out;
    height: 25px;
}

.login-info input:hover {
    border-color: blue;
    cursor: default;
}

#signin-button {
    background-color: #ef6c00;
    color: #fff;
    border: 1.6px solid #ef6c00;
    font-weight: 600;
    cursor: pointer;
    height: 45px;
    width: 85%;
    border-radius: 15px;
    font-size: 15px;
    margin-top: -8px;
    margin-bottom: 10px;
}

#signin-button:hover {
    background-color: rgb(155, 89, 9);
    border-color: rgb(155, 89, 9);
}

.create-account-button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #555;
    /* margin-top: 60px; */
}

.create-account-button a {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    background-color: #fff;
    color: #163977;
    border: 1px solid #163977;
    padding: 10px;
    width: 300px;
    height: 30px;
    margin-top: 20px;
}

.create-account-button a:hover {
    background-color: rgb(222, 231, 242);
}

.divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.divider1,
.divider2 {
    flex-grow: 1;
    border-bottom: 1px solid grey;
    margin: 0 10px;
}

.login-new-customer h3 {
    margin: 0;
    text-align: center;
    flex-shrink: 0;
    font-weight: 700;
    margin-bottom: -10px;
    margin-top: -15px;
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.login-new-customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-new-customer a {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
        cursor: pointer;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
        text-decoration: none;
        border-radius: 15px;
        background-color: #fff;
        color: #163977;
        border: 1px solid #163977;
        padding: 10px;
        width: 300px;
        height: 20px;
        margin-top: -15px;
        margin-bottom: 20px;
}

.signin-errors-login {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: block;
    color: #d0011b;
    padding: 5px 20px;
    background-color: pink;
}

.login-info input.error {
    border-color: red;
}
