body,
html {
    height: 100%;
    margin: 0;
} */

#content {
    flex: 1 0 auto;
}


.footer-container {
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    padding: 10px;
}

.footer-container p {
    color: #666666;
    font-size: 12px;
}

/* .footer-placeholder {
    background-color: orange;
    border: 1px solid gray;
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    /* margin-top: 0; */
/* } /* */
