
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    /* Ensure it doesn't overflow the parent container */
    padding: 0 20px;
    /* Add padding to separate elements */
}


.chonky-logo {
    width: auto;
    height: 150px;
    border-radius: 8px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    position: sticky;
}



.chonky-logo .letter:nth-child(odd) {
    transform: rotate(-5deg);
    margin-right: -1px;
}

.chonky-logo .letter:nth-child(even) {
    transform: rotate(5deg);
    margin-left: -1px;
}

.chonky-logo .letter {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}