.product-show-page {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    margin-bottom: 100px;
    padding-left: 80px;
}

.product-show-info h1 {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
}

#product-show-img {
    height: 400px;
    width: 300px;
    margin-right: 100px;
    padding: 20px;
    object-fit: contain;
}

.product-show-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 400px;
    margin-left: 50px;
}

#category {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1c49c2;
    margin: 20px 0 10px 100px;
}

.show-divider {
    background-color: #EEEEEE;
    border: none;
    height: 5px;
    margin: 20px;
}


.product-show-details h2 {
    font-family: 'Poppins';
    font-size: 18px;
    margin: auto;
    font-weight: 700;
    padding: 50px;
}

.product-show-details h3 {
    margin-left: 50px;
}

    .product-show-details p {
    color: #4d4d4d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: auto;
    padding: 0 50px 0 50px;
} 

.left-section {
    width: 350px;
}

.right-section {
    padding-left: -20px;
}

.rating-show {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.price-value {
    color: #bc2848;
    font-weight: bold;
    font-size: 18px;
}


.options-section {
    margin-top: 20px;
    margin-left: 48px;
}

.flavor-section,
.size-section {
    margin-top: 10px;
}

.flavor-buttons,
.size-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

button {
    padding: 10px;
    width: 100px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: blue;
    transition: border-color 0.3s;
}

button.selected {
    color: blue;
    border-color: #007BFF;
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.5);
}

.flavor-section h3,
.size-section h3 {
    font-size: 14px;
    color: grey;
    font-weight: normal;
}

.dropdown-buttons-container-show {
    display: flex;
    flex-direction: column;
    border: 2px solid #EEEEEE;
    border-radius: 7px;
    padding: 15px;
    height: 150px;
    width: 260px;
    margin-left: 40px;
}

.dropdown-buttons-container-show fieldset {
    font-size: 10px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid gray;
    border-radius: 7px;
    margin: 20px;
    height: 50px;
    width: 75px;
}

.quantity-dropdown {
    border: none;
    padding: 5px;
    width: 100%;
}

.quantity-dropdown:hover {
    cursor: pointer;
}

.add-to-cart-from-show {
    font-family: 'Poppins';
    background-color: #ef6c00;
    color: #fff;
    border: 1.6px solid #ef6c00;
    font-weight: 700;
    width: 100%;
    border-radius: 20px;
    font-size: 12px;
    padding: 10px;
    margin-top:45px;
}

.add-to-cart-from-show:hover {
    cursor: pointer;
    background-color: #ef8126;
}

.info-and-cart-container {
    display: flex;
}

.add-to-cart-quantity-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 50px;
    margin-left: 200px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 305px;
    height: 180px;
    padding: 10px;
}

.quantity-dropdown {
    width: 50px;
}

.info-text {
    margin-left: 10px;
    font-size: 14px;
    margin-top: 0;
}

.in-stock-text {
    color: darkgreen;
    margin-bottom: 0;
    font-size: 15px;
    margin-left: 10px;
}

.quantity-text-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}






